<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.mapper.CodeDetailMapper">

	<insert id="create">
		INSERT INTO CODE_DETAIL (GROUP_CODE, CODE_VALUE,
		CODE_NAME, SORT_SEQ)
		VALUES (#{groupCode}, #{codeValue}, #{codeName},
		#{sortSeq})
	</insert>

	<select id="getMaxSortSeq" resultType="int">
		SELECT
		NVL(MAX(SORT_SEQ),0)
		FROM CODE_DETAIL
		WHERE GROUP_CODE = #{groupCode}
	</select>

	<select id="list" resultType="CodeDetail">
		SELECT GROUP_CODE, CODE_VALUE,
		CODE_NAME, SORT_SEQ, USE_YN, REG_DATE FROM
		CODE_DETAIL ORDER BY
		GROUP_CODE ASC, SORT_SEQ ASC
	</select>

	<select id="read" resultType="CodeDetail">
		SELECT GROUP_CODE, CODE_VALUE,
		CODE_NAME, SORT_SEQ, USE_YN, REG_DATE FROM
		CODE_DETAIL WHERE GROUP_CODE
		= #{groupCode} AND CODE_VALUE =
		#{codeValue}
	</select>

	<update id="update">
		UPDATE CODE_DETAIL SET CODE_NAME =#{codeName} WHERE
		GROUP_CODE = #{groupCode} AND CODE_VALUE = #{codeValue}
	</update>

	<delete id="delete">
		DELETE FROM CODE_DETAIL WHERE GROUP_CODE =
		#{groupCode} AND CODE_VALUE = #{codeValue}
	</delete>

</mapper>
