<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.mapper.MemberMapper">
	<resultMap type="Member" id="memberMap">
		<result property="userNo" column="user_no" />
		<result property="userId" column="user_id" />
		<result property="userPw" column="user_pw" />
		<result property="userName" column="user_name" />
		<result property="job" column="job" />
		<result property="coin" column="coin" />
		<result property="enabled" column="enabled" />
		<result property="regDate" column="reg_date" />
		<result property="updDate" column="upd_date" />
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
	<resultMap type="MemberAuth" id="authMap">
		<result property="userNo" column="user_no" />
		<result property="auth" column="auth" />
	</resultMap>

	<insert id="create">
		INSERT INTO MEMBER(USER_NO, USER_ID, USER_PW,
		USER_NAME, JOB) VALUES (MEMBER_SEQ.NEXTVAL, #{userId}, #{userPw},
		#{userName}, #{job})
	</insert>

	<insert id="createAuth">
		INSERT INTO MEMBER_AUTH(USER_NO, AUTH) VALUES
		(MEMBER_SEQ.CURRVAL, #{auth})
	</insert>

	<select id="list" resultMap="memberMap">
		SELECT USER_NO, USER_ID, USER_PW,
		USER_NAME, (SELECT CODE_NAME FROM CODE_DETAIL WHERE GROUP_CODE = 'A00'
		AND CODE_VALUE = JOB) AS JOB, COIN, REG_DATE FROM MEMBER ORDER BY
		REG_DATE DESC
	</select>

	<select id="read" resultMap="memberMap">
		SELECT MEM.USER_NO,
		MEM.USER_ID,
		USER_PW, USER_NAME, JOB,
		COIN, REG_DATE,
		UPD_DATE, AUTH FROM MEMBER MEM
		LEFT OUTER JOIN MEMBER_AUTH AUTH ON
		MEM.USER_NO = AUTH.USER_NO WHERE
		MEM.USER_NO = #{userNo}
	</select>

	<insert id="modifyAuth">
		INSERT INTO MEMBER_AUTH(USER_NO, AUTH) VALUES
		(#{userNo}, #{auth})
	</insert>

	<update id="update">
		UPDATE MEMBER SET USER_NAME = #{userName}, job =
		#{job} WHERE USER_NO = #{userNo}
	</update>

	<delete id="delete">
		DELETE FROM MEMBER WHERE USER_NO = #{userNo}
	</delete>

	<delete id="deleteAuth">
		DELETE FROM MEMBER_AUTH WHERE USER_NO = #{userNo}
	</delete>

</mapper>
